@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');

/* Default Settings */
:root{
    --brand-color1: #7575A9;
    --brand-color2: #8AB6D8;
    --brand-color1-rgb: 117, 117, 169;
    --brand-color2-rgb: 138, 182, 216;

    --black: #000000;
    --white: #ffffff;
    --red: #dc1473;
    --body-color: #ececec;

    --box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    line-height: 1.7;
    font-family: var(--font-base);
    background-color: var(--body-color);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--brand-color1);
    font-weight: 500;
    transition: var(--transition);
}
a:hover{
    color: var(--brand-color2);
}

img{
    max-width: 100%;
    height: auto;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.bg-brand{
    background-color: var(--brand-color2);
}

.btn{
    padding: 9px 24px;
    font-weight: 500;
    transition: var(--transition);
}

.btn-brand{
    background-color: var(--brand-color1);
    color: var(--white);
    border: 2px solid var(--brand-color1);
}

.btn-brand:hover{
    background-color: var(--brand-color2);
    color: var(--white);
}

.btn-outline{
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--brand-color2);
}

.btn-outline:hover{
    background-color: var(--brand-color1);
    color: var(--white);
}

@media screen and (max-width: 768px){
    .btn{
        padding: 4px 12px;
        font-weight: 300;
    }
}
/* Navbar styles */
/* Navbar Styles #####################################################################################################################*/
.navbar{
    position: sticky;
    z-index: 999;
    /* box-shadow: var(--box-shadow); */
    transition: var(--transition);
    /* background: rgba(255, 255, 255, 0.65); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* -webkit-backdrop-filter: blur( 2px ); */
    /* backdrop-filter: blur( 2px ); */
    border-radius: 0 0 10px 10px;
}

.navbar-brand img{
    width: 300px;
}

.navbar .navbar-nav .nav-link{
    position: relative;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: var(--red);
}

@media screen and (min-width: 991px){
    .navbar .navbar-nav .nav-link::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: red;
        transform: translateX(-50%);
        height: 4px;
        width: 0;
        background-color: var(--red);
        border-radius: 25px;
        transition: var(--transition);
    }
    
    .navbar .navbar-nav .nav-link:hover::before,
    .navbar .navbar-nav .nav-link.active::before{    
        width: 80%;
    }
}

/* Add a White Glass Background for Navbar Tab and Mobiel Screen */
@media screen and (max-width: 1200px) {
    .navbar{
        position: sticky;
        z-index: 999;
        transition: var(--transition);
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-backdrop-filter: blur( 2px );
        backdrop-filter: blur( 2px );
        border-radius: 0 0 10px 10px;
    }
}

.scrolled{
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.9px);
    backdrop-filter: blur(7px);
}

/* Hide the small logo and display the large logo by default */
.logo-small {
    width: 70px !important;
    display: none;
}

@media (max-width: 768px) {
    /* Hide the large logo on small screens and show the small logo */
    .logo-large {
        display: none;
    }
    .logo-small {
        display: block;
    }   
}

/* Hero Section */
.bg-img-wrapper {
    position: absolute;
    height: 100px;
    width: 100vw;
}

.bg-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.bg-img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(var(--brand-color1-rgb), 0.1), rgba(236, 236, 236, 1));
    z-index: -1;
}



/* Footer Styles */
/* footer styles */
footer{
    margin-bottom: 0;
    text-align: center;
    color: var(--white);
    padding-top: 80px;
    padding-bottom: 25px;
    background: linear-gradient(rgba(236, 236, 236, 1), rgba(var(--brand-color1-rgb), 0.5)),url('../img/footer_night.jpg');
    background-position: center; /* Center image horizontally and vertically */
    background-size: cover; /* Make sure image covers the entire area */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

/* Footer BG change in morning */
.footer-morning {
    background: linear-gradient(rgba(236, 236, 236, 1), rgba(var(--brand-color1-rgb), 0.5)), url('../img/footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer p{
    margin: 0;
}

.footer-top p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer-top .social-links a{
    margin-left: 10px;
    margin-right: 10px;
}

.footer-bottom p{
    margin-top: 25px;
    font-size: 11px;
}

.footer-bottom p i{
    color: red ;
}

.social-links a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--brand-color2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social-links a i{
    font-size: 25px;
}

.social-links a:hover{
    background-color: var(--white);
    color: var(--brand-color2);
}
