@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');

/* Default Settings */
:root{
    --brand-color1: #7575A9;
    --brand-color2: #8AB6D8;
    --brand-color1-rgb: 117, 117, 169;
    --brand-color2-rgb: 138, 182, 216;

    --black: #000000;
    --white: #ffffff;
    --red: #dc1473;
    --body-color: #ececec;

    --box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    line-height: 1.7;
    font-family: var(--font-base);
    background-color: var(--body-color);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--brand-color1);
    font-weight: 500;
    transition: var(--transition);
}
a:hover{
    color: var(--brand-color2);
}

img{
    max-width: 100%;
    height: auto;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.bg-brand{
    background-color: var(--brand-color2);
}

.btn{
    padding: 9px 24px;
    font-weight: 500;
    transition: var(--transition);
}

.btn-brand{
    background-color: var(--brand-color1);
    color: var(--white);
    border: 2px solid var(--brand-color1);
}

.btn-brand:hover{
    background-color: var(--brand-color2);
    color: var(--white);
}

.btn-outline{
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--brand-color2);
}

.btn-outline:hover{
    background-color: var(--brand-color1);
    color: var(--white);
}

@media screen and (max-width: 768px){
    .btn{
        padding: 4px 12px;
        font-weight: 300;
    }
}

.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title{
    padding-bottom: 60px;
}

.section-title .section-line{
    margin: 16px auto;
    position: relative;
    width: 300px;
    height: 2px;
}

.section-line .thin-line{
    width: 100%;
    height: 2px;
    background-color: var(--brand-color2);
}

.section-line .bold-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 7px;
    border-radius: 25px;
    background-color: var(--brand-color1);
}

.section-title p{
    max-width: 1000px;
    margin: auto;
}

.justify-text{
    text-align: justify;
}

#goToTop {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 30px;  /* Distance from the right */
    font-size: 25px;
    display: none; /* Hidden by default */
    background-color: var(--brand-color1); /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 50%; /* Rounded button */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 1000;
    width: 50px; /* Set width */
    height: 50px; /* Set height */
}

#goToTop i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#goToTop:hover {
    background-color: var(--brand-color2); /* Darker shade on hover */
}
/* End of Default Settings */

/* Top-Bar Styles #####################################################################################################################*/
.top-nav{
    position: relative;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--brand-color1);
}

.top-nav a{
    font-size: 12px;
    color: var(--white);
}

.top-nav i{
    font-size: 20px;
    vertical-align: middle;
}

.social-links a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--brand-color2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social-links a i{
    font-size: 25px;
}

.social-links a:hover{
    background-color: var(--white);
    color: var(--brand-color2);
}

/* Navbar Styles #####################################################################################################################*/
.navbar{
    position: sticky;
    z-index: 999;
    /* box-shadow: var(--box-shadow); */
    transition: var(--transition);
    /* background: rgba(255, 255, 255, 0.65); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* -webkit-backdrop-filter: blur( 2px ); */
    /* backdrop-filter: blur( 2px ); */
    border-radius: 0 0 10px 10px;
}

.navbar-brand img{
    width: 300px;
}

.navbar .navbar-nav .nav-link{
    position: relative;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: var(--red);
}

@media screen and (min-width: 991px){
    .navbar .navbar-nav .nav-link::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: red;
        transform: translateX(-50%);
        height: 4px;
        width: 0;
        background-color: var(--red);
        border-radius: 25px;
        transition: var(--transition);
    }
    
    .navbar .navbar-nav .nav-link:hover::before,
    .navbar .navbar-nav .nav-link.active::before{    
        width: 80%;
    }
}

/* Add a White Glass Background for Navbar Tab and Mobiel Screen */
@media screen and (max-width: 1200px) {
    .navbar{
        position: sticky;
        z-index: 999;
        transition: var(--transition);
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-backdrop-filter: blur( 2px );
        backdrop-filter: blur( 2px );
        border-radius: 0 0 10px 10px;
    }
}

.scrolled{
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.9px);
    backdrop-filter: blur(7px);
}

/* Hide the small logo and display the large logo by default */
.logo-small {
    width: 70px !important;
    display: none;
}

@media (max-width: 768px) {
    /* Hide the large logo on small screens and show the small logo */
    .logo-large {
        display: none;
    }
    .logo-small {
        display: block;
    }   
}

/* Slider Section #####################################################################################################################*/
.slider-wrapper{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.slide1{
    background: url('../img/slide1.jpg');
}
.slide1 h6, .slide1 h1, .slide1 p,
.slide2 h6, .slide2 h1, .slide2 p,
.slide3 h6, .slide3 h1, .slide3 p{
    text-shadow: 2px 2px 15px black;
}
.slide2{
    background: url('../img/slide2.jpg');
}
.slide3{
    background-position: center;
    /* background: linear-gradient(rgba(var(--brand-color2-rgb), 0.9), rgba(var(--brand-color1-rgb), 0.5)),url('../img/slide3.jpg'); */
    background: url('../img/slide3.jpg');
}

/* OWL Slider */
.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%!important;
    display: grid;
    place-items: center;
    background-color: rgba(var(--brand-color1-rgb), 0.5)!important;
    font-size: 12px !important;
    color: var(--white) !important;
    transition: var(--transition);
}

.owl-prev{
    left: 5px;
}
.owl-next{
    right: 5px;
}
.owl-prev:hover,
.owl-next:hover{
    background-color: var(--brand-color2) !important;
}

/* Mobile Screen styles for slider */
@media screen and (max-width: 768px){
    .slide1 h1,
    .slide2 h1,
    .slide3 h1{
        font-size: 20px;
        font-weight: 600;
    }

    .slide1 h6,
    .slide2 h6,
    .slide3 h6{
        font-size: 16px;
        font-weight: 200;
    }

    .slide1 p,
    .slide2 p,
    .slide3 p{
        font-size: 14px;
        font-weight: 200;
    }

    .owl-prev,
    .owl-next{
        top: 90%;
    }
}

/* About Clinic CSS #####################################################################################################################*/
.dept-card{
    background-color: var(--brand-color1);
    padding: 15px;
    margin: 7px;
    border-radius: 10px;
}

.dept-card p{
    margin: 0;
    font-weight: 500;
}
.dept-icon{
    margin-bottom: 15px;
    width: 75px;
}

.dept-card a{
    opacity: 0;
}

.dept-card:hover a{
    opacity: 1;
}

/* Facts Sub Section Styles #####################################################################################################################*/
.facts-sub-sec{
    padding: 90px 20px;
    background: linear-gradient(rgba(var(--brand-color2-rgb), 0.8), rgba(var(--brand-color1-rgb), 1)),url('../img/facts-bg.jpg');
}

.facts-sub-sec .display-4,
.facts-sub-sec p{    
    color: var(--white);
}

.facts-sub-sec .display-4{
    font-weight: 500;
}

.facts-sub-sec p{
    font-weight: 200;
}

/* Services section styles #####################################################################################################################*/
.portfolio-filter{
    padding: 0 0 20px 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.portfolio-filter li{
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    border: 1px solid var(--brand-color2);
    border-radius: 10px;
    transition: var(--transition);
}

.portfolio-filter li:hover,
.portfolio-filter li.filter-active{
    color: var(--white);
    background-color: var(--brand-color2);
}

.portfolio-container .portfolio-wrap{
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;    
}

.portfolio-wrap:hover p{
    color: var(--white);
}

.portfolio-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(var(--brand-color1-rgb), 0), rgba(var(--brand-color2-rgb), 0.2));
    opacity: 0;
    transition: var(--transition);
    z-index: 2;
}

.portfolio-wrap:hover::before {
    opacity: 1;
}

.portfolio-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: var(--brand-color1);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
    z-index: 3;
}

.portfolio-wrap .portfolio-btn a{
    color: white;
}

.portfolio-wrap:hover .portfolio-btn {
    display: inline-block;
}

.portfolio-wrap img{
    transition: var(--transition);
}

.portfolio-wrap:hover img{
    transform: scale(1.1);
    background: var(--brand-color1);
}

.portfolio-wrap .portfolio-info{
    padding: 25px 20px;
    background-color: var(--brand-color2);
    position: relative;
    border-top: 2px solid var(--brand-color1);
    transition: var(--transition);
    z-index: 2;
}

.portfolio-wrap:hover .portfolio-info{
    background-color: var(--brand-color1);
}

.portfolio-wrap .portfolio-info a{
    color: var(--white);
    font-weight: 600;
}

.portfolio-wrap .portfolio-info p{
    font-size: 14px;
}

/* responsive for mobile */
@media screen and (max-width: 575px) {
    .portfolio-filter li{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
}

/* About Us Styles #####################################################################################################################*/
.about-us-wrapper img{
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
.about-us-wrapper p{
    font-size: 14px;
}

/* Working Houser Styles */
/* Styling each pill */
.working-hour-pill {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    margin: 5px;
    border-radius: 20px;
    background-color: transparent;
    color: var(--brand-color1);
    cursor: pointer;
    border: 2px solid var(--brand-color1);
    transition: var(--transition);
}

/* Highlight the current day */
.working-hour-pill.today {
    background-color: var(--brand-color1);
    font-weight: 500;
    color: #fff;
}
.working-hour-pill.today.closed{
    color: rgb(255, 255, 255);
    border: 2px solid red;
    background-color: red;
}
/* Styling for closed days */
.working-hour-pill.closed {
    color: red;
    border: 2px solid red;
}

.working-hour-pill:hover{
    font-weight: 500;
    background-color: var(--brand-color2);
    border: 2px solid var(--brand-color2);
}

/* Responsive behavior for mobile view */
@media (max-width: 576px) {
    .working-hour-pill {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.heartbeat {
    color: red;
    display: inline-block;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

/* Testomonial Section Styles ##################################################################################################################*/
#testomonial{
    background: linear-gradient(rgba(var(--brand-color2-rgb), 0.9), rgba(var(--brand-color1-rgb), 0.5)),url('../img/review.jpg');
}

.review{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.review img{
    margin: auto;
    border-radius: 100%;
    width: 85px!important;
}

.review h4,
.review p{
    color: var(--white);
}

.review small{
    margin-top: 0;
}

.review p{
    margin-top: 25px;
}

.owl-dot.active span{
    background-color: var(--brand-color1)!important;
}

/* footer styles */
footer{
    margin-bottom: 0;
    text-align: center;
    color: var(--white);
    padding-top: 80px;
    padding-bottom: 25px;
    background: linear-gradient(rgba(236, 236, 236, 1), rgba(var(--brand-color1-rgb), 0.5)),url('../img/footer_night.jpg');
    background-position: center; /* Center image horizontally and vertically */
    background-size: cover; /* Make sure image covers the entire area */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

/* Footer BG change in morning */
.footer-morning {
    background: linear-gradient(rgba(236, 236, 236, 1), rgba(var(--brand-color1-rgb), 0.5)), url('../img/footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer p{
    margin: 0;
}

.footer-top p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer-top .social-links a{
    margin-left: 10px;
    margin-right: 10px;
}

.footer-bottom p{
    margin-top: 25px;
    font-size: 11px;
}

.footer-bottom p i{
    color: red ;
}

/* Contact form Style ###########################################################################*/
.form-control:focus{
    box-shadow: none;
    border-color: var(--brand-color1);
    background-color: rgba(var(--brand-color2-rgb),0.2);
}

.form-control{
    background-color: rgba(var(--brand-color2-rgb),0.5);
}

textarea{
    resize: none;
}